<a href="https://colab.research.google.com/github/AburizalAN/learn-ml/blob/master/cleansing_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

url = 'https://storage.googleapis.com/rg-ai-bootcamp/pandas/airbnb-data.csv'
airbnb_df = pd.read_csv(url)

sample = airbnb_df.head(15)

In [ ]:
sample.isnull()

print("test hai")

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,country,country_code,instant_bookable,room_type,construction_year,price,service_fee,minimum_nights,number_of_reviews,review_rate_number,calculated_host_listings_count,license
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
2,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
3,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
4,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
7,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
8,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
10,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
11,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
12,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True

In [ ]:
airbnb_df.isnull().sum()

id                                   3
name                                60
host_id                              3
host_identity_verified              78
host_name                           23
neighbourhood_group                 31
neighbourhood                       19
country                             53
country_code                        82
instant_bookable                    82
room_type                            3
construction_year                  138
price                               14
service_fee                         18
minimum_nights                      87
number_of_reviews                   10
review_rate_number                  96
calculated_host_listings_count      18
license                           3636
dtype: int64

In [ ]:
total = airbnb_df.isnull().sum().sort_values(ascending=False)
count = airbnb_df.isnull().count().sort_values(ascending=False)
percentage = (total / count * 100).sort_values(ascending=False)

missing_data = pd.concat([total, percentage], axis=1, keys=["Total", "percentage"])

missing_data

                                Total  percentage
license                          3636  100.000000
construction_year                 138    3.795380
review_rate_number                 96    2.640264
minimum_nights                     87    2.392739
country_code                       82    2.255226
instant_bookable                   82    2.255226
host_identity_verified             78    2.145215
name                               60    1.650165
country                            53    1.457646
neighbourhood_group                31    0.852585
host_name                          23    0.632563
neighbourhood                      19    0.522552
service_fee                        18    0.495050
calculated_host_listings_count     18    0.495050
price                              14    0.385039
number_of_reviews                  10    0.275028
room_type                           3    0.082508
host_id                             3    0.082508
id                                  3    0.082508

In [ ]:

# airbnb_df = airbnb_df.drop(columns=['license'])
# airbnb_df = airbnb_df.dropna(subset=['id', 'name', 'host_id', 'host_name'])

# airbnb_df.head()

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,country,country_code,instant_bookable,room_type,construction_year,price,service_fee,minimum_nights,number_of_reviews,review_rate_number,calculated_host_listings_count
0,1001254.0,Clean & quiet apt home by the park,8.001449e+10,unconfirmed,Madaline,Brooklyn,Kensington,United States,US,False,Private room,2020.0,$966,$193,10.0,9.0,4.0,6.0
1,1002102.0,Skylit Midtown Castle,5.233517e+10,verified,Jenna,Manhattan,Midtown,United States,US,False,Entire home/apt,2007.0,$142,$28,30.0,45.0,4.0,2.0
3,1002403.0,THE VILLAGE OF HARLEM....NEW YORK !,7.882924e+10,NaN,Elise,Manhattan,Harlem,United States,US,True,Private room,2005.0,$620,$124,3.0,0.0,5.0,1.0
5,1003689.0,Entire Apt: Spacious Studio/Loft by central park,9.203760e+10,verified,Lyndon,Manhattan,East Harlem,United States,US,False,Entire home/apt,2009.0,$204,$41,10.0,9.0,3.0,1.0
6,1004098.0,Large Cozy 1 BR Apartment In Midtown East,4.549855e+10,verified,Michelle,Manhattan,Murray Hill,United States,US,True,Entire home/apt,2013.0,$577,$115,3.0,74.0,3.0,1.0

In [ ]:
avg_prices_per_year = airbnb_df.groupby('construction_year')['price'].mean()
years = avg_prices_per_year.index
prices = avg_prices_per_year.values