In [19]:
import pandas as pd

file_path = "./datasets/jobs_in_data.csv"

df = pd.read_csv(file_path, delimiter=",")

df_head = df.head(20)

# df_head["test"] = 0.5

df_head.shape

df_head.loc[:, "test"] = 2

df_head

C:\Users\aburi\AppData\Local\Temp\ipykernel_92132\943358613.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_head.loc[:, "test"] = 2

,work_year,job_title,job_category,salary_currency,salary,salary_in_usd,employee_residence,experience_level,employment_type,work_setting,company_location,company_size,test
0,2023,Data DevOps Engineer,Data Engineering,EUR,88000,95012,Germany,Mid-level,Full-time,Hybrid,Germany,L,2
1,2023,Data Architect,Data Architecture and Modeling,USD,186000,186000,United States,Senior,Full-time,In-person,United States,M,2
2,2023,Data Architect,Data Architecture and Modeling,USD,81800,81800,United States,Senior,Full-time,In-person,United States,M,2
3,2023,Data Scientist,Data Science and Research,USD,212000,212000,United States,Senior,Full-time,In-person,United States,M,2
4,2023,Data Scientist,Data Science and Research,USD,93300,93300,United States,Senior,Full-time,In-person,United States,M,2
5,2023,Data Scientist,Data Science and Research,USD,130000,130000,United States,Senior,Full-time,Remote,United States,M,2
6,2023,Data Scientist,Data Science and Research,USD,100000,100000,United States,Senior,Full-time,Remote,United States,M,2
7,2023,Machine Learning Researcher,Machine Learning and AI,USD,224400,224400,United States,Mid-level,Full-time,In-person,United States,M,2
8,2023,Machine Learning Researcher,Machine Learning and AI,USD,138700,138700,United States,Mid-level,Full-time,In-person,United States,M,2
9,2023,Data Engineer,Data Engineering,USD,210000,210000,United States,Executive,Full-time,Remote,United States,M,2
10,2023,Data Engineer,Data Engineering,USD,168000,168000,United States,Executive,Full-time,Remote,United States,M,2
11,2023,Machine Learning Engineer,Machine Learning and AI,USD,224400,224400,United States,Senior,Full-time,In-person,United States,M,2
12,2023,Machine Learning Engineer,Machine Learning and AI,USD,138700,138700,United States,Senior,Full-time,In-person,United States,M,2
13,2023,Data Scientist,Data Science and Research,GBP,35000,43064,United Kingdom,Mid-level,Full-time,In-person,United Kingdom,M,2
14,2023,Data Scientist,Data Science and Research,GBP,30000,36912,United Kingdom,Mid-level,Full-time,In-person,United Kingdom,M,2
15,2023,Data Analyst,Data Analysis,USD,95000,95000,United States,Entry-level,Full-time,In-person,United States,M,2
16,2023,Data Analyst,Data Analysis,USD,75000,75000,United States,Entry-level,Full-time,In-person,United States,M,2
17,2023,Data Scientist,Data Science and Research,USD,300000,300000,United States,Senior,Full-time,In-person,United States,M,2
18,2023,Data Scientist,Data Science and Research,USD,234000,234000,United States,Senior,Full-time,In-person,United States,M,2
19,2023,Analytics Engineer,Leadership and Management,USD,140000,140000,United States,Mid-level,Full-time,In-person,United States,M,2

In [20]:
df.groupby('work_setting')["salary"].mean()

work_setting
Hybrid        91878.000000
In-person    154834.404014
Remote       144969.840419
Name: salary, dtype: float64